*{
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
  }
  
.navigationBar{
    display: flex;
    max-width: 80px;
    padding: 20px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    flex-shrink: 0;
    background: var(--M3-sys-light-background, #FFF);
}
.countainerOfButton{
    display: flex;
    width: 80px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.icon{
    width: 27px;
}
.menuButton{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    border: none;
}
.edit{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: none;

    background: var(--M3-sys-light-primary-container, #B7F1BA);
}
.navigationPages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.dashboardButton{
    display: flex;
    height: 56px;
    padding-bottom: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}
.logooImage{
  justify-self: start;
}
.seperate{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.dashboard{
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border:none; 
    background: var(--M3-sys-light-primary-container, #B7F1BA);
}
.dashboardText{
    color: var(--M3-sys-light-on-surface, #1E1E1E);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 5px; /* 133.333% */
    letter-spacing: 0.5px;
    padding: 0;
}
.commanButtonNavigationButton{
    display: flex;
    padding: 13px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border:none; 
    background-color: #FFF;

}
.taskBar{
    display: flex;
    align-items:  center;
    justify-content: space-around;
    width: 221px; 
    height: 80px;
    border-radius: 16px;
    background: var(--Dark-GRADINT1, linear-gradient(95deg, #000 18.39%, #666 137.72%));
}
.taskBar2{
    display: flex;
    align-items:  center;
    justify-content: space-around;
    width: 221px; 
    height: 80px;
    border-radius: 16px;
    border-radius: 16px;
    background: var(--M3-white, #FFF);

}
.taskBar3{
    display: flex;
    align-items:  center;
    justify-content: space-around;
    width: 221px; 
    height: 80px;
    border-radius: 16px;
    border-radius: 16px;
    background: var(--GREEN-DARK1, linear-gradient(94deg, #16DB65 3.51%, #FFF 151.29%));
    
    /* SHADOW GREEN */
    box-shadow: 0px 97px 27px 0px rgba(22, 219, 101, 0.00), 0px 62px 25px 0px rgba(22, 219, 101, 0.01), 0px 35px 21px 0px rgba(22, 219, 101, 0.05), 0px 16px 16px 0px rgba(22, 219, 101, 0.09), 0px 4px 9px 0px rgba(22, 219, 101, 0.10);
    
}


.picstaskbar{
    display: inline-flex;
    align-items: flex-start;
    padding: 8px;
    border-radius: 24px;
    background: var(--M3-sys-light-surface-container-low, #F7F1FF);
}
.taskStatus{
    color: var(--M3-sys-light-outline, #797488);

    /* M3/body/medium */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
}
.taskStatus2{
    color: var(--M3-sys-light-on-background, #181D18);

    /* M3/body/medium */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
}
.taskStatus3{
    color: var(--M3-sys-light-secondary-container, #D4E8D1);

    /* M3/body/medium */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
}
.taskTache{
    color: var(--M3-sys-light-on-primary, #FFF);
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 115.556% */
}
.taskTache2{
    color: #000;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 115.556% */
}
.taskTache3{
    color: #000;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 115.556% */
}
.searchBarCountainer{
    display: flex;
    width:47.8vw;
    height: 56px;
    padding: 4px;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 28px;  
    border-radius: 28px;
    background: var(--M3-sys-light-surface, #F1F1F1);
}
.form{
    display: flex;
    height: 40px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
}
.formCountainer{
    display: flex;
    width: 200px;
    align-items: center;
    gap: 12px;


}
.nameCompany{
    color: var(--M3-sys-light-on-background, var(--Schemes-On-Surface, #1C1A25));

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.formService{
    color: var(--M3-sys-light-on-background, var(--Schemes-On-Surface, #1C1A25));

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}

.searchBar{
    display: flex;
    align-items: center;
    flex: 1 0 0;
    width: 100%;
    align-self: stretch;
    background-color: transparent;
    border:none;
    box-shadow: none;
    color: var(--M3-sys-light-on-surface-variant, #414941);
    text-overflow: ellipsis;
    white-space: nowrap;
    
    /* M3/body/large */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
}
.searchBar:focus{
    border:none;
    box-shadow: none;
    outline: none;
}
.searchIcon{
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.profilecard{
    display: flex;
    max-width: 200px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}
.username{
    color: var(--M3-sys-light-on-background, var(--Schemes-On-Surface, #1C1A25));

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.buttonWithIcons{

    display: flex;
    gap:5px;
    padding: 6px 8px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--M3-sys-light-outline, #797488);
    color: var(--M3-sys-light-on-surface, #1E1E1E);
    text-align: center;
    background-color: white;
    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.buttonNotification{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--Neutral-9, #434343);
    font-feature-settings: 'clig' off, 'liga' off;  
    /* UI Type/text-md/[S] */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.employeInformation{
    display: flex;
    height: 50px;
    width: 100%;
   
    justify-content: space-between;
    align-items: center;
 
}
.test{
    background-color: blue;
}
.campanyinfo{
    display: flex;
align-items: center;
gap: 12px;
}
.employeCard{
    display: flex;
    max-width: 200px;
    align-items: center;
    gap: 12px;
}
.employerName{
    color: var(--M3-sys-light-on-background, var(--Schemes-On-Surface, #1C1A25));

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.taskDuration{
    color: var(--M3-sys-light-on-background, var(--Schemes-On-Surface, #1C1A25));

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
.campanyName{
    color: var(--M3-sys-light-on-background, var(--Schemes-On-Surface, #1C1A25));

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}


