.iaCard{
    width: 200px;
    height: 307px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.iaCard:hover{
    background: var(--M3-sys-light-primary, #16DB65);
    /* SHADOW GREEN */
    box-shadow: 0px 97px 27px 0px rgba(22, 219, 101, 0.00), 0px 62px 25px 0px rgba(22, 219, 101, 0.01), 0px 35px 21px 0px rgba(22, 219, 101, 0.05), 0px 16px 16px 0px rgba(22, 219, 101, 0.09), 0px 4px 9px 0px rgba(22, 219, 101, 0.10);
}
.cardInfo{
    display: flex;
    flex-direction: column;
    gap:7px;
    align-items: center;
}
.cardStatus{
 display: flex;
 gap:7px;
 align-items: center;
 height: 16px;
 background-color: transparent;

}
.projectTitle{
    color: var(--M3-sys-light-outline, #797488);

    /* M3/label/medium */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.5px;
    opacity: 0.7;
}
.title{
    color: var(--M3-sys-light-on-primary-container, #002109);

    /* M3/title/medium */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
    width: 121px;
    height: 47px;
    flex-shrink: 0;
}
.campanyinfo{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.campanyName{
    color: var(--M3-sys-light-on-primary-container, #002109);

    /* M3/label/medium */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.5px;
    width: 95px;
    height: 16px;
}
.buttonAi{
    display: flex;
    flex-direction: column;
    gap:3px;
}
.generateButton{
    display: flex;
    max-width: 158px;
    height: 40px;
    padding: 10px 16px;
    gap:10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid var(--M3-sys-light-on-background, #181D18);
    color: var(--M3-sys-light-on-primary-container, #002109);
    text-align: center;
    color: var(--M3-sys-light-on-primary-container, #002109);
    text-align: center;
    
    /* M3/label/large */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    /* 142.857% */
    letter-spacing: 0.1px;
}
.taskAi{
    display: flex;
    width: 160px;
    height: 40px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    color: var(--M3-sys-light-on-primary-container, #002109);
    text-align: center;
    
    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
}
